@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: var(--font-inter), sans-serif; */
}

.vote {
  height: 30px;
  width: 30px;
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  border: 2px solid #e9d100;
  border-radius: 50%;
}

/* .custom-rate {
  color: #E90000;
} */
